<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/styles/root.css">
    <link rel="stylesheet" href="../assets/styles/home.css">
</head>

<body>
    <div class="FUNSITE">FUNSITE</div>
    <div class="nav-bar">
        <a href="../templates/home_page.html" id="Home" class="nav-button">Home</a>
        <a href="../templates/one_piece.html" id="OnePiece" class="nav-button">One Piece</a>
        <a href="../templates/jujutsu_kaisen.html" id="JujustsuKaisen" class="nav-button">Jujustsu Kaisen</a>
        <a href="../templates/scooby_doo.html" id="ScoobyDoo" class="nav-button">Scooby Doo</a>
    </div>
    <div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam commodi in officia nulla aliquam ab est? Ipsum consectetur libero harum repudiandae quae voluptatibus rem ea voluptas. Quis molestiae porro ipsum.</p>
        <div class="row">
            <picture>
                <img class="frame" src="../assets/images/Luffy 5.gif.gif" alt="">
                <figcaption>One Piece</figcaption>
            </picture>
            <picture>
                <img class="frame"
                    src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExOGRrOWx1Nzd5NG83bDNkNTN2Zms3OGJ1cG9jd3M3cXF0eW5qc3c0MyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/VEPoAXF3EdLudygJUd/giphy.gif"
                    alt="">
                <figcaption>Jujustsu Kaisen</figcaption>
            </picture>
            <picture>
                <img class="frame"
                    src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExZjJsenI0Nm91NTlhbWo3aDhneXJyODEyYzVyOWk3M2hjdnMzcWUxciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l9JQYgbbNxbig/giphy.gif"
                    alt="">
                <figcaption>Scooby Doo</figcaption>
            </picture>
        </div>
    </div>

</body>

</html>