<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/styles/root.css">
</head>
<body>
    <div class="FUNSITE">FUNSITE</div>
    <div class="nav-bar">
        <a href="../templates/home_page.html"id="Home" class="nav-button">Home</a>
        <a href="../templates/one_piece.html" id="OnePiece" class="nav-button">One Piece</a>
        <a href="../templates/jujutsu_kaisen.html" id="JujustsuKaisen" class="nav-button">Jujustsu Kaisen</a>
        <a href="../templates/scooby_doo.html" id="ScoobyDoo" class="nav-button">Scooby Doo</a>
    </div>
</body>
</html>