<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/jujustsu_style.css">
    <link rel="stylesheet" href="../assets/styles/root.css">
    <title>Document</title>
</head>
 
<body>
    <!--------------------------------NavBar--------------------------------------->
    <div class="FUNSITE">FUNSITE</div>
    <div class="nav-bar">
        <button href="../templates/home_page.html"id="Home" class="nav-button">Home</button>
        <button href="../templates/one_piece.html" id="OnePiece" class="nav-button">One Piece</button>
        <button href="../templates/jujutsu_kaisen.html" id="JujustsuKaisen" class="nav-button">Jujustsu Kaisen</button>
        <button href="../templates/scooby_doo.html" id="ScoobyDoo" class="nav-button">Scooby Doo</button>
    </div>
    <!--------------------------------NavBar--------------------------------------->
    <div class="title-image">
        <img class="main-logo" src="../assets/images/jujutsu_kaisen_logo-freelogovectors.net_-640x400.png" alt="">
    </div>
    <section class="head-section">
        <p class="citate">L'histoire de <strong>Jujutsu Kaisen</strong> se déroule dans
            un monde où des esprits maudits se nourrissent d'humains sans méfiance et où des fragments du légendaire et
            redouté démon <strong>Jujutsu Kaisen</strong> ont été perdus et dispersés.
            Si une malédiction venait à consumer les doigts de <strong>Sukuna</strong>, le pouvoir qu'ils acquerraient
            pourrait détruire le monde tel que nous le connaissons. Heureusement,
            il existe une mystérieuse école de sorciers jujutsu dont la mission est de protéger la précieuse existence
            des vivants contre le surnaturel !</p>
        <img class="Fraimed-image" src="../assets/images/Uiji.png"></img>
    </section>
    <section class="body-section">
        <p class="citate">
            Yuji Itadori est le personnage principal de la série Jujutsu Kaisen. Il est le fils de Jin Itadori et Kaori
            Itadori, et le petit-fils de Wasuke Itadori.
            Yuji menait une vie normale à Sendai jusqu'à ce qu'il rencontre Megumi et mange l'un des doigts de Sukuna.
            Après être devenu le réceptacle de Sukuna, Yuji a commencé à fréquenter le lycée Tokyo Jujutsu aux côtés de
            Megumi et Nobara en tant qu'élève de première année.</p>
        </p>
        <div class="sukuna-descript">
            <img class="fingers-sukuna" height="150px" width="150px" src="../assets/images/erasebg-transformed.png" alt="">
            <div class="uji-sukuna"></div>
            <p class="citate">
Sukuna is egocentric, hedonistic, psychopathic, exceptionally sadistic and selfish.
Mass murder, suffering, and the screams of his victims are what the King of Curses relishes; this is best shown when he was reincarnated shortly after Yuji ingested his finger, after which he commented, implying the slaughter of women and children and likening them to maggots crawling around.</p>
            </p>
        </div>
    </section>
    <section class="footer-section">
        <p class="citate">
            
        </p>
        <img class="Fraimed-image"  src="../assets/images/Satoru_Gojo_hit_by_Malevolent_Shrine.png" alt="">
         <img class="Fraimed-image"  src="../assets/images/Satoru_Gojo_hit_by_Malevolent_Shrine.png" alt="">
    </section>
    
    <img href="naw-bar" class="floting-cogane" src="../assets//images/Kogane.png" alt="Go Up">
    <footer>
        <p>contact us</p>
    </footer>
</body>

</html>
<script>


</script>