<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Site Web - Design Personnalisé</title>
    <link rel="stylesheet" href="../assets/styles/Onepice.css">
    <link rel="stylesheet" href="../assets/styles/root.css">
</head>

<body>
    <!--------------------------------NavBar--------------------------------------->
    <div class="FUNSITE">FUNSITE</div>
    <div class="nav-bar">
        <a href="../templates/home_page.html" id="Home" class="nav-button">Home</a>
        <a href="../templates/one_piece.html" id="OnePiece" class="nav-button">One Piece</a>
        <a href="../templates/jujutsu_kaisen.html" id="JujustsuKaisen" class="nav-button">Jujustsu Kaisen</a>
        <a href="../templates/scooby_doo.html" id="ScoobyDoo" class="nav-button">Scooby Doo</a>
    </div>
    <!--------------------------------NavBar--------------------------------------->
    <section class="main-description">
        <div class="content">
            <h2>L'Histoire du futur ROI DES PIRATES</h2>
            <p>
                One Piece est une aventure épique centrée sur Luffy et son équipage, unis par leurs rêves et leur quête
                de liberté.
                L’histoire nous montre l’importance de poursuivre ses objectifs malgré les obstacles, et d’assumer
                fièrement qui l’on est.
                Elle enseigne aussi la valeur de l’amitié, de la loyauté et du courage, rappelant que personne ne
                réussit seul.
                À travers ses thèmes de justice, de choix personnels et de résilience, One Piece encourage à ne jamais
                abandonner.
                Enfin, la diversité des personnages et leur évolution inspirent à accepter les différences et à croire
                en son propre chemin.
            </p>

            <!-- GIF plein écran centré -->
            <div class="cinema-banner">
                <img src="../assets/images/Luffy 5.gif.gif" alt="Guerres" class="gif-large">

            </div>

    </section>
    <div class="galery img">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">

    </div>

    </section>
    <section class="secondary-description">
        <div class="image-placeholder">
            <img class="secondary-image" src="../assets/images/Fruit du démon.jpg" alt="Fruit du démon">
        </div>
        <div class="content">
            <h2>Démon Fruits</h2>
            <p>Les Fruits du Démon offrent des pouvoirs extraordinaires, permettant d’acquérir des capacités uniques
                impossibles autrement.
                Ils donnent un avantage immense en combat, en stratégie et parfois même dans la vie quotidienne.
                Cependant, ils privent celui qui les mange de la capacité de nager, ce qui devient une faiblesse
                mortelle en mer.
                Certains fruits demandent un long apprentissage pour être maîtrisés et peuvent être dangereux si mal
                contrôlés.
                Enfin, leur rareté et leur valeur attirent la convoitise, transformant parfois le porteur en cible.</p>

        </div>
    </section>

    <section class="crew-members-gallery">

        <h2>Membres d'Équipage</h2>

        <div class="crew-grid-card-container">
            <div class="main-card">
                <div class="inner-crew-grid-card">
                    <div class="card-front">
                        <img class="image-placeholder" src="../assets/images/Luffy.jpg" alt="Luffy">
                    </div>
                    <div class="card-back">
                        <h3>Monkey D. Luffy</h3>
                        <p>Monkey D. Luffy est le capitaine de l’équipage du Chapeau de paille. Il détient des pouvoirs
                            du Fruit du Gum-Gum, il possède un corps élastique qu’il utilise au combat avec créativité.
                            Luffy rêve de devenir le Roi des Pirates et de trouver le légendaire One Piece. Son
                            caractère est marqué par une joie contagieuse, une détermination inébranlable et un profond
                            sens de la liberté. Il inspire ses compagnons par sa loyauté, son courage et sa capacité à
                            rallier les autres à sa cause.</p>
                    </div>
                </div>
            </div>

            <div class="main-card">
                <div class="inner-crew-grid-card">
                    <div class="card-front">
                        <img class="image-placeholder" src="../assets/images/Zoro.jpg" alt="Zoro">
                    </div>
                    <div class="card-back">
                        <h3>Roronoa Zoro</h3>
                        <p>Roronoa Zoro est le sabreur de l’équipage du Chapeau de paille, connu pour son style unique à
                            trois épées. Calme et déterminé, il vise à devenir le plus grand épéiste du monde. Sa
                            loyauté envers Luffy et sa force exceptionnelle font de lui un pilier du groupe.</p>

                    </div>
                </div>
            </div>

            <div class="main-card">
                <div class="inner-crew-grid-card">
                    <div class="card-front">
                        <img class="image-placeholder" src="../assets//images/sanji.jpg" alt="Sanji">
                    </div>
                    <div class="card-back">
                        <h3>Sanji</h3>
                        <p>Sanji est le cuisinier de l’équipage du Chapeau de paille dans One Piece, reconnu pour ses
                            talents culinaires exceptionnels. Il se distingue par son élégance, son costume noir et sa
                            cigarette toujours au coin des lèvres. Sanji combat uniquement avec ses jambes, refusant
                            d’abîmer ses mains précieuses dédiées à la cuisine. Galant et romantique, il a un faible
                            marqué pour les femmes, qu’il protège avec ferveur. Derrière son attitude charmeuse se cache
                            un passé douloureux et une loyauté inébranlable envers ses amis.</p>
                    </div>
                </div>
            </div>

            <div class="main-card">
                <div class="inner-crew-grid-card">
                    <div class="card-front">
                        <img class="image-placeholder" src="../assets//images/Nami.jpg" alt="Nami">
                    </div>
                    <div class="card-back">
                        <h3>Nami</h3>
                        <p>Nami est la navigatrice de l’équipage du Chapeau de paille dans One Piece, experte en
                            cartographie et météorologie. Elle est rusée, intelligente et passionnée par les trésors,
                            mais profondément loyale envers ses amis. Son passé douloureux avec Arlong l’a rendue forte
                            et déterminée à ne plus jamais être impuissante. Elle combat avec un bâton climatique
                            qu’elle utilise pour manipuler la météo en plein combat. Derrière son tempérament parfois
                            explosif se cache une grande sensibilité et un cœur généreux.</p>
                    </div>
                </div>
            </div>

            <div class="main-card">
                <div class="inner-crew-grid-card">
                    <div class="card-front">
                        <img class="image-placeholder" src="../assets/images/Chopper.jpg" alt="Chopper">
                    </div>
                    <div class="card-back">
                        <h3>chopper</h3>
                        <p>Chopper est le médecin de l’équipage du Chapeau de paille, un renne ayant mangé le Fruit Hito
                            Hito no Mi qui lui permet de parler et de se transformer. Malgré son apparence mignonne, il
                            est courageux et possède une grande expertise médicale. Il peut changer de forme grâce à ses
                            Rumble Balls, devenant un redoutable combattant. Chopper est sensible, naïf et cherche
                            constamment à être reconnu comme un vrai pirate. Son rêve est de guérir toutes les maladies
                            du monde.</p>
                    </div>
                </div>
            </div>

            <div class="main-card">
                <div class="inner-crew-grid-card">
                    <div class="card-front">
                        <img class="image-placeholder" src="../assets/images/Robin.jpg" alt="robin">
                    </div>
                    <div class="card-back">
                        <h3>Robin</h3>
                        <p>Robin est l’archéologue de l’équipage du Chapeau de paille, dotée d’un calme mystérieux et
                            d’une grande intelligence. Elle a mangé le Fruit Hana Hana no Mi, qui lui permet de faire
                            pousser des parties de son corps sur n’importe quelle surface. Robin est passionnée par
                            l’histoire et cherche à découvrir la vérité sur le Siècle oublié en déchiffrant les
                            Ponéglyphes. Son passé sombre, marqué par la solitude et la fuite, l’a rendue méfiante mais
                            profondément loyale. Derrière son regard froid se cache une femme sensible, protectrice et
                            avide de justice.</p>
                    </div>
                </div>
            </div>

            <div class="main-card">
                <div class="inner-crew-grid-card">
                    <div class="card-front">
                        <img class="image-placeholder" src="../assets/images/Ussop.jpg" alt="usopp">
                    </div>
                    <div class="card-back">
                        <h3>Ussop</h3>
                        <p>Usopp est le tireur d’élite de l’équipage du Chapeau de paille, connu pour son imagination
                            débordante et ses récits souvent exagérés. Bien qu’il soit peureux, il montre un courage
                            sincère quand ses amis sont en danger. Il utilise un lance-pierre et des projectiles
                            inventifs, souvent comiques mais redoutablement efficaces. Usopp rêve de devenir un
                            valeureux guerrier des mers, à l’image de son père Yasopp. Derrière ses mensonges se cache
                            un cœur loyal, créatif et profondément humain.

                        </p>
                    </div>
                </div>
            </div>

            <div class="main-card">
                <div class="inner-crew-grid-card">
                    <div class="card-front">
                        <img class="image-placeholder" src="../assets/images/Francky.jpg" alt="franky">
                    </div>
                    <div class="card-back">
                        <h3>Francky</h3>
                        <p>Franky est le charpentier de l’équipage du Chapeau de paille, un cyborg excentrique au style
                            flamboyant et à la personnalité explosive. Ancien chef d’un groupe de démolisseurs, il a
                            reconstruit son corps avec des pièces mécaniques, lui donnant une force surhumaine et des
                            armes intégrées. Il est passionné par la construction de navires et a conçu le Thousand
                            Sunny, le bateau de l’équipage. Franky est bruyant, extravagant, et ponctue ses phrases de
                            son célèbre "SUPER!". Malgré son apparence intimidante, il est profondément loyal et
                            sensible, surtout envers ses amis.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>