<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/fansite3.css">
        <link rel="stylesheet" href="../assets/styles/root.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>scooby doo</title>
</head>

<body>
    <header>
        <!--------------------------------NavBar--------------------------------------->
        <div class="FUNSITE">FUNSITE</div>
        <div class="nav-bar">
            <a href="../templates/home_page.html" id="Home" class="nav-button">Home</a>
            <a href="../templates/one_piece.html" id="OnePiece" class="nav-button">One Piece</a>
            <a href="../templates/jujutsu_kaisen.html" id="JujustsuKaisen" class="nav-button">Jujustsu Kaisen</a>
            <a href="../templates/scooby_doo.html" id="ScoobyDoo" class="nav-button">Scooby Doo</a>
        </div>
        <!--------------------------------NavBar--------------------------------------->

        <section class="carouselle">
            <h1 class="carouselle-title">Scooby Doo</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum repellat at iusto iste quo vel animi
                placeat quibusdam. Quod deleniti voluptate natus nulla temporibus nesciunt animi eaque qui est minus.
            </p>
            <button><a href="#">Decouvrir</a></button>
        </section>
        <section>
            <div class="one">
                <h2>Scooby Doo</h2>
                <img src="../assets/img/img-1.jpg" alt="">
                <p>Scooby-Doo : grand danois, mascotte de l'équipe Mystère et compagnie. Son nom complet est
                    Scoobert-Doo. C'est aussi le meilleur ami de Sammy. Il est très gourmand et très peureux mais si ses
                    amis sont en danger, il arrive toujours à surmonter sa peur pour leur venir en aide.Il prononce à la
                    fin de chaque épisode : « Scooby-Dooby-Doo ». Il commence à marcher sur ses pattes arrière plutôt
                    qu'à quatre pattes dans la série Scooby-Doo et Scrappy-Doo en 1979. Dans la saison 11, on apprend
                    qu'il serait un descendant des annunakis, des êtres inter-dimensionnels qui viennent sur terre pour
                    aider les humains. C'est la raison pour laquelle il a la capacité de parler comme les Hommes.</p>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="item1">
                    <img src="../assets/img/img-1.jpg" alt="" width="366px">

                </div>
                <div class="item2">
                    <p>Scooby-Doo : grand danois, mascotte de l'équipe Mystère et compagnie. Son nom complet est
                        Scoobert-Doo. C'est aussi le meilleur ami de Sammy. Il est très gourmand et très peureux mais si
                        ses amis sont en danger, il arrive toujours à surmonter sa peur pour leur venir en aide.Il
                        prononce à la fin de chaque épisode : « Scooby-Dooby-Doo ». Il commence à marcher sur ses pattes
                        arrière plutôt qu'à quatre pattes dans la série Scooby-Doo et Scrappy-Doo en 1979. Dans la
                        saison 11, on apprend qu'il serait un descendant des annunakis, des êtres inter-dimensionnels
                        qui viennent sur terre pour aider les humains. C'est la raison pour laquelle il a la capacité de
                        parler comme les Hommes.</p>

                </div>
            </div>
        </section>
    </header>
    <main>
        <section>
            <div class="container">
                <form>

                    <label for="fname">Prenom</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your name..">

                    <label for="lname">Nom</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                    <label for="country">Pays</label>
                    <select id="country" name="country">
                        <option value="australia">Australia</option>
                        <option value="canada">Canada</option>
                        <option value="usa">USA</option>
                    </select>

                    <label for="subject">Notes....</label>
                    <textarea id="subject" name="subject" placeholder="Write something.."
                        style="height:200px"></textarea>

                    <input type="submit" value="Submit">

                </form>
            </div>
        </section>
    </main>


    <footer>

        <div id="ide">
            <a href="https://facebook.com"><i class="fa-brands fa-facebook icons1"></i></a>
            <a href="http://youtube.com"><i class="fa-brands fa-youtube icons2"></i></a>
        </div>


    </footer>
</body>

</html>