body{
    background-image: url("../../assets/images/test-image (1).jpg");
    background-size: cover;
}


.row{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}
.frame{
    width: 20rem;
    border: #232323 1px ;
}

.frame:hover{
    transform: scale(0.9);
    color: rgb(234, 135, 135);
}





@layer picture-border{
  picture {
    display: grid;
    width: 400px;
    aspect-ratio: 4/3;
    --bc: rgb(0, 0, 0); /*border-color*/
    --bs: 10px; /*border-size*/
    --cs: 20px; /*cut-size*/
    grid-template-rows: var(--cs) auto 1fr;
    color: aliceblue;
  }
figcaption {
    grid-area: 1/1/2/2;
    justify-self: end;
    min-width: 50%;
    min-height: calc(var(--cs) * 2 + var(--bs));

    display: grid;
    place-items: center;
    text-align: center;
    background-color: var(--bc);

    clip-path: polygon(
      var(--cs) 0,
      100% 0,
      100% 100%,
      0 100%,
      0 var(--cs)
    );
  }
  picture > img{
    grid-area: 2/1/4/2;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    --em: .5;
    clip-path: polygon(
      calc(var(--cs) + var(--bs) * var(--em)) var(--bs), 
      calc(100% - var(--bs)) var(--bs),
      calc(100% - var(--bs)) calc(100% - var(--cs) - var(--bs)),
      calc(50% + var(--cs) - var(--bs) * var(--em)) calc(100% - var(--cs) - var(--bs)),
      calc(50% - var(--bs) * var(--em)) calc(100% - var(--bs)),
      var(--bs) calc(100% - var(--bs)),
      var(--bs) calc(var(--cs) + var(--bs) * var(--em))
      );    
  }
  picture::before{
    content: "";
    grid-area: 2/1/4/2;
    background-color: var(--bc);
    clip-path: polygon(
      var(--cs) 0, 
      100% 0,
      100% calc(100% - var(--cs)),
      calc(50% + var(--cs)) calc(100% - var(--cs)),
      50% 100%,
      0% 100%,
      0 var(--cs)
    );
  }
}